<%- include('../partials/header') %>
<div class="dashboard-container h-[90vh] text-center mt-20">
  <h1 class="text-2xl">Welcome To Buylek Store Admin Dashboard</h1>
</div>
<%- include('../partials/footer') %>
