<%- include('../partials/header') %>
<div class="flex items-center justify-center h-[90vh] bg-gray-100">
  <div class="bg-white p-8 rounded shadow-md text-center w-full max-w-md">
    <h2 class="text-2xl text-red-500 font-bold mb-4">Error</h2>
    <p class="text-lg"><%= message %></p>
    <a href="/login" class="mt-4 inline-block bg-gray-900 text-white py-2 px-4 rounded hover:bg-gray-700">العودة إلى صفحة تسجيل الدخول</a>
  </div>
</div>
<%- include('../partials/footer') %>
