<%- include('../partials/header') %>

<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-8 rounded shadow-md text-center mx-3 w-full max-w-sm">
    <h2 class="text-2xl font-semibold mb-6 text-right">تسجيل الدخول</h2>
    <form action="/auth/login" method="POST" class="space-y-4">
      
      <!-- Email Input -->
      <div class="mb-4">
        <label for="email" class="block text-sm font-semibold text-right">البريد الإلكتروني</label>
        <input 
          type="email" 
          name="email" 
          id="email" 
          required 
          class="border p-2 w-full text-right rounded-md"
          placeholder="أدخل بريدك الإلكتروني"
        />
      </div>
      
      <!-- Password Input -->
      <div class="mb-4">
        <label for="password" class="block text-sm font-semibold text-right">كلمة المرور</label>
        <input 
          type="password" 
          name="password" 
          id="password" 
          required 
          class="border p-2 w-full text-right rounded-md"
          placeholder="أدخل كلمة المرور"
        />
      </div>
      
      <!-- Submit Button -->
      <button type="submit" class="w-full bg-gray-900 text-white py-2 px-4 rounded-md hover:bg-gray-700">تسجيل الدخول</button>
    </form>
  </div>
</div>

<%- include('../partials/footer') %>
